body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  /* overflow: hidden; */
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 1rem;
}
.brand-title-container {
  display: flex;
  align-items: center;
}
.brand-title-circle {
  background-color: #EED767; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  margin-right: 0.5rem; 
}
.brand-title {
  font-weight:500;
  font-size: 1.2rem;;
  margin-right: 0.5rem; 
}
.brand-title2{
  font-weight: 200;;

}
.navbar-links ul {
  list-style: none;
  display: flex;
}

.navbar-links li {
  padding-left: 4rem;
  padding-top: 1rem;
}

.navbar-links li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #aaa;
}
/* closes nav */
.custom-size{
  font-size: 4rem;
  margin-bottom: 1rem;
}
/* button */
.button-container{
  margin-bottom: 2rem;
}
.circle-button {
  display: inline-block;
  margin: 10px;
  width: 120px; 
  height: 120px;
  line-height: 120px;
  border-radius: 50%; 
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: background-color 0.3s; 
  text-align: center; 

  border: 1px solid black;
}
/* closes btn */

/* Original colors */
.orange { background-color: #E53451; }
.red { background-color: #EED767; }
.cyan { background-color: #3D9EFF; }

/* Hover effects */
.orange:hover { background-color: #f3f3f300; }
.red:hover { background-color: rgba(16, 12, 12, 0); }
.cyan:hover { background-color: #f3f3f300; }
/* closes button */

/* burger nav */
.burger {
  /* position: absolute;  */
  top: 50%;  
  right: 0rem;      
  /* transform: translateY(-50%);  */
  display: none;     
  z-index: 10; 
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger.toggle {
  transform: rotate(180deg);
}

.burger.toggle .line1 {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: #000; 
}

.burger.toggle .line2 {
  opacity: 0; 
}

.burger.toggle .line3 {
  transform: rotate(-45deg) translate(7px, -6px); 
  background-color: #000;
}
/* closes burger nav */
.text-thin{
  font-weight: lighter;
}
/* footer */
.short-hr{
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}

footer p{
  font-size: small;
}

.social-icons a {
  text-decoration: none;
  color: black; 
  margin-right: 0.6rem;
}

.social-icons a:hover {
 color: #aaa;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-bottom: 1rem;
}

.grid-item:nth-child(2), .grid-item:nth-child(3) {
  justify-self: center;
}

.grid-item:nth-child(4) {
  justify-self: end;
}

/* closes footer */

/* form */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.form-group textarea {
  height: 140px;
}
#form-flex {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

label{
  margin-bottom: 0.5rem;
}

input:focus {
  outline: none; 
  border: 2px solid #000000;
}
textarea:focus {
  outline: none;
  border: 2px solid #000000; 
}
/* closes form */
/* Resume */
.w-flex{
  display: grid;
  grid-template-columns: auto 1fr;
}

/* closes resume */

/* bg animation */
.halo {
  position: fixed;
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  pointer-events: none;
  background-color: rgba(255, 213, 0, 0.4);
  box-shadow: 0 0 80px 80px rgba(255, 213, 0, 0.4); 
  transform: translate(-50%, -50%);
  transition: left 0.2s ease, top 0.2s ease; 

  z-index: -1;
}
/* closes bg animation */



@media (max-width: 768px) {
  /* header */

  .brand-title-container{
    padding-top: 0.85rem;
  }

  .burger {
    display: block;
    position: absolute;

    top: 1.2rem;
    /* right: 0rem; */
  }
  
  .navbar{
    display: block;
  }
  .navbar-links {
    display: none;
    width: 100%;

    margin-top: 2rem;
  }

  .navbar-links.nav-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.nav-active ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links.nav-active li {
    text-align: center;
    padding: 1rem;
  }
  /* closes header */
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
  }

  .footer-grid > .grid-item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-grid > .grid-item:nth-child(3) {
    justify-self: flex-end;
  }
  .footer-grid > .grid-item:nth-child(4) {
    grid-column-start: 2; 
    grid-column-end: span 1; 

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
  }
  
  /* .footer-grid{
    grid-template-columns: 1fr;
  }
  .grid-item {
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  .grid-item:nth-child(4) {
    margin-top: 1rem;
    justify-self: center;
  } */
  
  .button-container{
    display: flex;
    justify-content: center;
 
  }
  .intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    
  }

  .contact-flex{
    /* display: grid;
    grid-template-columns: auto 1fr auto; */
    align-items: center;
  }
  .short-hr{
    width: 90%;
  }

  .form-row {
    flex-direction: column;
  }
  #form-flex{
  display: block;
  }
  .w-flex{
    display: block;
  }

  .resume-flex{
    display: flex;
    align-items: flex-start;
    margin-left: 3rem;
  }
}

@media (max-width: 450px) {
  .footer-grid{
    display: block;

    grid-template-columns: 1fr;
  }
  .grid-item {
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  .grid-item:nth-child(4) {
    margin-top: 1rem;
    justify-self: center;
  }
  
}

